<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="TestCases.validget" />
			<class name="TestCases.Validsingleusers" />
			<class name="TestCases.SingleUserNotFound" />
			<class name="TestCases.getlistresourses" />
			<class name="TestCases.getsingleresourses" />
			<class name="TestCases.SingleResoursesnotfound" />
			<class name="TestCases.getdelayedresponse" />
            <class name="TestCases.postcreate" />
			<class name="TestCases.Postregistersucess" />
			<class name="TestCases.postregisterunsucess" />
			<class name="TestCases.postLoginsucess" />
			<class name="TestCases.postloginunsucess" />
            <class name="TestCases.put" />
             <class name="TestCases.patch" />
            <class name="TestCases.validdelete" />
            <class name="TestCases.invalidDelete" />
           
             <class name="TestCases.postinvalidregisteruncsess1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
